.userPhoto {
  width: 39px;
  height: 39px;
  aspect-ratio: 1/1;
  border-radius: 1600px;
  background: var(--dark-on);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder {
  color: var(--light-title);
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}
