.wrapper {
  position: relative;
  aspect-ratio: 114/149;
  border-radius: 10px;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    filter 0.3s ease,
    box-shadow 0.1s ease;
  will-change: transform;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.wrapper:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: brightness(1.1);
}

.wrapper:active {
  transform: translateY(1px) scale(0.97);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
}
