.wrapper {
  position: relative;
  width: 100%;
  padding: 37px 16px;
  display: flex;
  align-items: center;
  background: var(--bg-slot-section);
  background-image: url('../../assets/images/icons/slotsBg.svg');
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.title {
  color: var(--light-title);
  font-family: 'Suisse Intl', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1px;
}
