.filters {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dropdownList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.dropdown button {
  font-size: 16px;
}

@media screen and (max-width: 359px) {
  .dropdown button {
    font-size: 12px;
  }
}
