.preloader {
  display: flex;
  width: 100%;
  height: 100dvh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.logoAnimation,
.chipAnimation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logoAnimation {
  width: min(57dvw, 26dvh);
  aspect-ratio: 1/1;
  z-index: 10;
}

.chipAnimation {
  width: min(57dvw, 26dvh);
  aspect-ratio: 1/1;
}
