.wrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
  will-change: transform;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.wrapper:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: brightness(1.1);
}
