@import './styles/variable.css';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100dvh;
    width: 100dvw;
    overflow-y: hidden;
}

body {
    background: var(--bg-primary);
    color: var(--text-primary);
    min-height: 100dvh;
    width: 100%;
    font-family: Suisse Intl,
    BlinkMacSystemFont,
    sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

#root{
    width: 100%;
    height: 100%;
}


.page {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.content {
    height: 100dvh;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

body ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

body ::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: var(--selection-primary);
}

body ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--accent-main);
}

body ::-webkit-scrollbar-thumb:hover {
    background: var(--accent-main-h);
}
