@import './styles/variable.css';
@import './styles/suisseintl.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  font-family: 'Suisse Intl', sans-serif;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  overflow-y: auto;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c3c8d4 transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #c3c8d4;
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #a4abba;
}

#root {
  width: 100%;
}

.page {
  max-width: 496px;
  width: 100%;
  margin: 0 auto;
}
