@import './styles/variable.css';
@import './styles/suisseintl.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Suisse Intl', sans-serif;
}

html {
  height: 100%;
  width: 100dvw;
  font-family: 'Suisse Intl', sans-serif;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  min-height: 100dvh;
  height: 100%;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.page {
  max-width: 560px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
