@import './styles/variable.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100dvh;
  height: 100%;
  width: 100dvw;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  min-height: 100%;
  width: 100%;
  font-family:
    Suisse Intl,
    BlinkMacSystemFont,
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.page {
  max-width: 560px;
  margin: 0 auto;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.content {
  height: 100dvh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
