@import './styles/variable.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

body {
  background: var(--dark-on);
  color: var(--text-primary);
  min-height: 100%;
  font-family:
    Suisse Intl,
    BlinkMacSystemFont,
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  max-width: 524px;
  height: 100dvh;
  overflow: hidden;
  background: var(--bg-primary);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  height: 100dvh;
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

body ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

body ::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: var(--selection-primary);
}

body ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--accent-main);
}

body ::-webkit-scrollbar-thumb:hover {
  background: var(--accent-main-h);
}
